<div class="container">
    <h2>LOGIN</h2>
    <br><br>
    <form id="login-form">
         <div class="form-group has-info label-static is-empty">
            <label for="username" class="control-label">Username</label>
            <input id="username" name="username" class="form-control" type="text" placeholder="Username" />
         </div>
         <div class="form-group has-info label-static is-empty">
             <label for="password" class="control-label">Password</label>
             <input id="password" name="password" class="form-control" type="Password" placeholder="Password" />
         </div>
         <button class="btn btn-info btn-raised waves-effect ripples">Login </button>
    </form>
</div>